.weather__header {
}
.weather__search {
  margin: 2em 0;
}
.weather__info--title {
    display: block;
    margin-bottom: 0.2em;
    text-transform: uppercase;
    font-weight: bold;
}
.weather__info--data {
    display: block;
    margin-bottom: 1em;
}