.weather {
    padding: 1em;
    color: #000;
    .weather__header {
    }
    .weather__info--title {
        display: block;
        margin-bottom: 0.2em;
        text-transform: uppercase;
        font-weight: bold;
    }
    .weather__info--data {
        display: block;
        margin-bottom: 1em;
    }
}